* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1168px !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-top: 26px;
    padding-bottom: 25px;
}

.nav-menu a {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}

.nav-menu a.show,
.nav-menu a:hover {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #00A9C6;
}

.buttons {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 5px 21px 6px 23px;
    border: none;
    background: #00A9C6;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.buttons:hover {
    background: #00C6E8;
    color: #FFFFFF;
}

.mail span {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.mail {
    margin-top: 8px;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-page-info {
    background-image: url(../img/visual.png);
    background-color: rgba(104, 182, 195, 0.4);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: auto;
}

.banner-text-wrap {
    max-width: 1035px;
    margin: 0 auto;
    margin-bottom: 82px;
}

.banner-title {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 119%;
    color: #FFFFFF;
}

.banner-text {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 119%;
    color: #FFFFFF;
}

.main-page-text-box-heading {
    display: flex;
    align-items: center;
}

.main-page-text-box-heading::after {
    height: 1px;
    background: #C4C4C4;
}
 
.main-page-text-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.blue-box {
    width: 120px;
    height: 63px;
    background: #00A9C6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    margin-right: 5px;
}

.main-page-text-box-text {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000;
    display: flex;
    align-items: center;
}

.main-page-text-box-desc {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 576px;
    margin-left: 40px;
}

.black-text {
    font-weight: bold;
    font-size: 20px;
}

.main-page-text-box-body {
    padding: 17px 15px;
}

.main-page-text-box-wrap img {
    max-width: 538px;
    height: auto;
}

.main-page-text-box-wrap {
    display: flex;
}

.blue-text-box {
    background: linear-gradient(180deg, #68B6C3 0%, #68B6C3 0.01%, #68B6C3 0.02%, #AAC4C8 100%), #68B6C3;
    width: 100%;
    height: 96px;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-wrap-body {
    padding-left: 30px;
}

.text-wrap-body2 {
    padding-left: 0px;
    padding-right: 30px;
}

.text-wrap-heading {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 8px;
}

.text-wrap-desc {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.main-page-text-box-wrap:first-child {
    margin-bottom: 36px;
}

.main-page-text-box-body-wrap {
    position: relative;
    margin: 25px 41px 16px 58px;
}

.svg-outline {
    position: absolute;
}

.svg-top-outline {
    top: 0; 
}

.svg-bottom-outline {
    bottom: 0;
    right: 0;
}

.main-page-info-container {
    padding-bottom: 52px;
    padding-top: 100px;
}

.advantage {
    background: #00A9C6;
    min-height: 181px;
    display: flex;
}

.advantage-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantage-box {
    text-align: center;
}

.advantage-box-text {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 8px;
    max-width: 186px;
}

.support {
    margin-top: 46px;
    margin-bottom: 50px;
}

.support-container {
    display: flex;
    justify-content: space-between;
}

.support-left {
    max-width: 394px;
    flex: 0 1 40%;
}

.support-right {
    flex: 0 1 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.support-left img {
    width: 100%;
}

.support-heading {
    background: #00A9C6;
    padding: 14px 16px;
}

.support-heading h2 {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.support-subheading p {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 16px;
}

.support-advantage-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.support-advantage-box {
    display: flex;
    align-items: center;
    width: 220px;
}

.support-advantage-box:nth-child(1),
.support-advantage-box:nth-child(2),
.support-advantage-box:nth-child(3) {
    margin-bottom: 24px;
}

.support-advantage-box-icon {
    background: #61C1D1;
    width: 68px;
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-advantage-box-text {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 8px;
    max-width: 150px;
}

.introduction-info {
    background-image: url(../img/introduction.png);
    background-color: #fff;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: auto;
}

.introduction-text-box-heading {
    align-items: baseline;
}

.introduction-text-box-body {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.introduction-text-box-body-text p {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    max-width: 809px;   
}

.introduction-text-box-body-text p span {
    font-weight: bold;
}

/* tabs */
.box {
    display: none;
    padding: 0px !important;
    background-color: #FFF;
}

.controls,
.controls-title {
    display: flex;
    align-items: center;
}

.controls-title .blue-box {
    margin-right: 0;
    color: #fff;
}

.controls-title {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000;
    margin-right: 16px;
}

.custom-btn.prev {
    margin-right: 8px;
}

.custom-btn {
    padding: 0 !important;
    border-radius: 50px !important;
}

.introduction-tabs {
    display: none;
}

.box.visible {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 41px;
}

ul.introduction-tabs {
    height: 27px;
    background: #FFF;
    border-bottom: 1px solid #777;
    padding: 0 4px;
    overflow: hidden;
    list-style: none;
}

.introduction-tabs li.current, .introduction-tabs li:hover {
    background-color:#52c8ff;
    color:#FFFFFF;
    border-color:#52c8ff;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}

.introduction-tabs li {
    float: left;
    color: rgb(122, 92, 92);
    line-height: 27px;
    margin-right: 1px !important;
    padding: 0 7px 10px 8px !important;
    font-weight: bold;
    cursor: pointer;
}

.introduction-tabs li.current span {
    color: #FFF;
}

.introduction-tabs li span {
    float: left;
    padding: 0 11px 0 0;
    height: 27px;
    color: #FFF;
}

.tabs-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.tabs-box-wrap {
    position: relative;
}

.tabs-box {
    max-width: 368px;
    width: 100%;
    /* background: #39C8E3; */
    display: flex;
    flex-direction: column;
}

.tabs-box-heading h3 {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.tabs-box-body {
    display: flex;
    align-items: center;
    position: relative;
}

.tabs-box-body img {
    z-index: 2;
    max-width: 322px;
    margin-bottom: 48px;
}

.tabs-box-body p {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58.3333px;
    line-height: 70px;
    text-align: right;
    color: #FFFFFF;
    position: absolute;
    right: -12px;
    top: 25%;
    z-index: 1;
}

.tabs-box-heading {
    min-height: 103px;
    display: flex;
    align-items: center;
}

.tabs-box-number,
.tabs-box-heading {
    background: #39C8E3;
    max-width: 268px;
    margin-left: auto;
    width: 100%;
    justify-content: center;
}

.tabs-box-number {
    width: 75%;
    position: absolute;
    height: 100%;
    right: 0;
    background: #39C8E3;
}

.tabs-content {
    max-width: 268px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-left: auto;
    margin-top: 8px;
}

.introduction-section {
    margin-top: 52px;
}
/* tabs */

/* feedback */
.feedback {
    background-image: url(../img/feedback-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: #00A9C6;
    padding: 40px 0px;
}

.file_upload input {
    display: none;
}

.feedback-container {
    display: flex;
    align-items: center;
}

.feedback-left span {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 327.047px;
    line-height: 335px;
    color: #FFFFFF;
    margin-right: 30px;
}

.feedback-heading-title {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.feedback-heading-subtitle {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.feedback-heading-body form {
    display: flex;
    flex-direction: column;
}

.feedback-heading-body label {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 8px 16px;
    margin-bottom: 8px;
    display: flex;
}

.feedback-heading-body textarea {
    background: transparent;
    border: none;
    outline: none;
}

.feedback-heading-body img {
    margin-bottom: auto;
    margin-right: 10px;
}

.feedback-heading-body label input,
.feedback-heading-body button {
    background-color: transparent;
    border: none;
    outline: none;
}

.feedback-heading-body input::placeholder,
.feedback-heading-body button,
.feedback-heading-body textarea::placeholder {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: left;
}

.form_sub {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    height: 35px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #00A9C6;
    margin-bottom: 8px;
}

.feedback-right {
    max-width: 768px;
    width: 100%;
}

.feedback-dnl {
    display: flex;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

/* deveolpment-page */
.development-info {
    background-image: url(../img/development-bg.png);
    background-color: #fff;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: auto;
    padding-top: 103px;
}

.development-text-box-text .blue-box {
    width: 190px;
}

.development-text-box-desc {
    max-width: 640px;
    margin-left: 10px;
}

.development-banner-text {
    display: flex;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 38px;
}

.development-banner-text  span {
    font-family: Exo 2;
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 132px;
    text-align: center;
    color: #00A9C6;
}

.development-banner-text p {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    max-width: 515px;
    margin-left: 8px;
    margin-bottom: 0;
}

.development-banner-logo {
    display: flex;
    width: fit-content;
    margin-left: auto;
    align-items: flex-end;
    border-right: 3.10135px solid #07B7D2;
    border-left: 3.10135px solid #07B7D2;
    padding: 0px 12px;
}

.development-banner-logo img {
    margin-right: 25px;
}

.development-banner-logo img:last-child {
    margin-right: 0px;
}

.stages {
    padding: 52px 0px 66px 0px;
}

.stages-title {
    font-family: Exo 2;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #00A9C6;
    text-align: center;
    margin-bottom: 80px;
}

.stages-leftHalf-box {
    display: flex;
    align-items: flex-end;
    min-height: 120px;
}

.stages-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 825px;
}

.stages-leftHalf,
.stages-rightHalf {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stages-content-title {
    font-family: Exo 2;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #00A9C6;
}

.stages-content-text {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.stages-leftHalf .stages-content {
    text-align: right;
}

.stages-rightHalf .stages-content-text {
    margin-left: 7px;
}

.stages-leftHalf .stages-content-text {
    margin-right: 7px;
}

.stages-leftHalf::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: #E2E4E7;
    top: 0;
    left: 50%;
}
/* development-page */

/* automation page */
.automation-info {
    padding-bottom: 186px;
}

.whyUs {
    padding-bottom: 52px;
}

.whyUs-heading {
    background: #00A9C6;
    width: 100%;
    padding: 14px 0px 14px 16px;
}

.whyUs-heading h2 {
    font-family: Exo 2;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}

.whyUs-body {
    margin-top: 16px;
}

.whyUs-content h3 {
    font-family: Exo 2;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
}

.whyUs-content p {
    max-width: 768px;
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.whyUs-icon {
    display: flex;
    justify-content: space-between;
}

.automation-box-first,
.automation-box {
    max-width: 367px;
    margin-bottom: 32px;
}

.automation-box-first h3 {
    font-family: Exo 2;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
}

.automation-box-first p {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.automation-btn {
    display: flex;
    flex-direction: column;
}

.automation-click,
.automation-dnl {
    width: 216px;
    padding: 5px 0px 6px 0px;
    font-family: Exo 2;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.automation-click {
    background: #00A9C6;
}

.automation-dnl {
    background: #698388;
    margin-top: 16px;
}

.automation-box {
    background: #61C1D1;
    padding: 16px;
}

.automation-heading h3 {
    font-family: Exo 2;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 6px;
}

.automation-heading {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 8px;
    min-height: 105px;
}

.automation-heading::after {
    content: '';
    width: 75px;
    height: 3px;
    background: #FFFFFF;
    position: absolute;
    bottom: 0;
}

.automation-body p {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.automation-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* automation page */

/* support page */
.support-info {
    background-image: url(../img/support-bg.png);
    background-color: #fff;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: auto;
    padding-bottom: 96px;
}

.support-title {
    font-family: Exo 2;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
}

.support-left-wrap {
    max-width: 568px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.support-right-wrap {
    max-width: 566px;
}

.support-left-box {
    background: #61C1D1;
    max-width: 268px;
    min-height: 269px;
    margin-bottom: 32px;
    padding: 0px 8px 8px 8px;
}

.support-left-box:nth-child(3),
.support-left-box:nth-child(4) {
    margin-bottom: 0;
}

.support-left-box-number {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 500;
    font-size: 50.9661px;
    line-height: 61px;
    color: #FFFFFF;
    opacity: 0.15;
    border: 0.756672px solid #07B7D2;
    margin-bottom: 0;
}

.support-box-title {
    font-family: Exo 2;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.support-box-text {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.support-right-box {
    background: #61C1D1;
    height: 100%;
    padding: 52px 16px 0px 16px;
}

.support-list {
    list-style-type: none;
    padding-left: 0;
}

.support-list li {
    display: flex;
    align-items: center;
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.support-list img {
    margin-right: 25px;
}

.support-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.support-right-box .support-box-title {
    padding-left: 52px;
    margin-bottom: 16px;
}

.sla-row {
    display: flex;
    justify-content: space-between;
}

.sla-text {
    max-width: 886px;      
    padding: 16px;                         
    border: 1px solid #00A9C6;
    box-sizing: border-box;
}

.sla-text p {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 0;
}

.escort {
    padding-top: 52px;
    padding-bottom: 56px;
}

.escort-title {
    font-family: Exo 2;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    margin-bottom: 30px;
}

.escort-title::after {
    content: '';
    max-width: 895px;
    width: 100%;
    height: 1px;
    position: absolute;
    background: #C4C4C4;
    bottom: 0;
}

.escort-wrap {
    width: 100%;
    border: 1px solid #00A9C6;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    padding: 20px 16px;
    align-items: center;
}

.escort-box {
    display: flex;
    align-items: center;
}

.escort-box:nth-child(1) {
    margin-bottom: 23px;
}

.escort-box p {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 25px;
    margin-bottom: 0;
    max-width: 482px;
}
/* support page */

/* history */
.history-banner {
    background-image: url(../img/history-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 1500px;
    padding-top: 100px;
}

.abs-history-blueBox {
    background: #00A9C6;
    width: 265px;
}

.history-banner-wrap-left .abs-history-blueBox {
    height: 256px;
}

.history-banner-wrap-right .abs-history-blueBox {
    height: 306px;
}

.history-banner-wrap {
    display: flex;
    justify-content: space-between;
}

.history-banner-wrap-right {
    background-image: url(../img/history-3.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.technology-bg {
    background-image: url(../img/history-techn-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 524px;
    position: relative;
}

.technology-abs {
    position: absolute;
    left: 28.2%;
    top: 15.26%;
}
.technology-name {
    font-family: Exo 2;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 230px;
    text-align: center;
}

.technology-list {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    max-width: 233px;
}
/* history */

/* modal */
.modal-dialog {
    max-width: 832px !important;
}

.modal-content {
    background-image: url(../img/bg-modal.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: #00A9C6 !important;
    padding: 24px 31px; 
    border: none !important;
}

.modal-body {
    padding: 0 !important;
}

.modal-title {
    font-family: Exo 2;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-subtitle {
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.modal-heading {
    display: flex;
    justify-content: space-between;
}

.modal-heading button {
    background: transparent;
    border: none;
    height: fit-content;
}
/* modal */

/* footer */

.footer {
    margin-bottom: 30px;
}

.footer-nav-menu-list {
    list-style-type: none;
    margin-bottom: 8px;
}

.footer-nav-menu-link {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.footer-nav-menu-list:first-child a {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-contact-box {
    background: #00A9C6;
    max-width: 268px;
    width: 100%;
    padding: 16px 20px;
}

.contact-box {
    display: flex;
    align-items: center;
}

.contact-box p {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    max-width: 163px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.contact-box:last-child p {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* modal */

/* modal */